.header {

  // hamburger open styles
  &.open {

    .header__menu {

      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2){
        opacity: 0;
      }

      > span:last-child{
        transform: rotate(-45deg);
      }
    }
  }

  @include breakpoint-down(medium){
    nav {
      position: relative;
      padding: 30px 24px;
      z-index: 1;
    }

    &__image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/image-hero-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 18.75rem;
    }

  }
  
  @include breakpoint-up(large){
    nav {
      padding: 47px 166px;
    }

    &__image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/image-hero-desktop.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 25.0625rem;
    }
  }

  &__menu { // mobile menu

    > span { 
      display: block;
      width: 16px;
      height: 3px;
      background-color: white;
      transition: all 300ms ease-in-out;
      transform-origin: -0.5px 1.5px;

      &:not(:last-child){
        margin-bottom: 3px;
      }
      
    }

  }

  &__links {

    a {
      font-size: $font-sm;
      color: white;

      &:not(:last-child) { 
        margin-right: 32px;
      }
    }

  }
}

